* {
    font-family: 'VT323', monospace;
}

canvas {
    border: 10px inset brown;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

.text-header {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 40;
    font-weight: bold;
    text-align: center;
}

.text-footer {
    font-size: 30;
    font-weight: bold;
}

section {
    width: 30%;
    text-align: center;
    padding: 1px;
    margin: auto;
}

section p:nth-child(1) {
    margin-left: 25%;
    float: left;
}

section p:nth-child(2) {
    margin-left: 20%;
}